@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Assis SP<br />
    <abbr title="Telefone">P:</abbr>
    99.999.999
</address>

<address>
    <strong>Support:</strong>   <a href="andrezzaaragao@hotmail.com">andrezzaaragao@hotmail.com</a><br />
    <strong>Support:</strong> <a href="ericlau.oliveira@gmail.com">ericlau.oliveira@gmail.com</a>
</address>